<div class="row">
  <div class="col-lg-6">
    <%= form_for [@item, @software], http: { class: "table-horizontal"} do |f| %>
      <% if @software.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@software.errors.count, "error") %> prohibited this software from being saved:</h2>

          <ul>
          <% @software.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :name, class: "control-label col-sm-3" %>
        <div class="col-sm-9">
          <%= f.text_field :name, class: "form-control" %>
        </div>
      </div>
      <div class="field">
        <%= f.label :serial, class: "control-label col-sm-3" %>
        <div class="col-sm-9">
          <%= f.text_field :serial, class: "form-control" %>
        </div>
      </div>
      <div class="field">
        <%= f.label :notes, class: "control-label col-sm-3" %>
        <div class="col-sm-9">
          <%= f.text_field :notes, class: "form-control" %>
        </div>
      </div>
      <div class="actions col-sm-offset-3 col-sm-offset-9">
        <%= f.submit class: "btn btn-sm btn-success" %>
      </div>
    <% end %>
  </div>
</div>
