<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @software.name %>
</p>

<p>
  <strong>Serial:</strong>
  <%= @software.serial %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @software.notes %>
</p>

<p>
  <strong>Item:</strong>
  <%= @software.item %>
</p>

<%= link_to 'Edit', edit_software_path(@software) %> |
<%= link_to 'Back', softwares_path %>
