<p>
  <strong>Serial:</strong>
  <%= @item.serial %>
</p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Manufacturer:</strong>
  <%= @item.manufacturer %>
</p>

<p>
  <strong>Ubt serial:</strong>
  <%= @item.ubt_serial %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @item.user %>
</p>
