
  <div class="navbar header" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to 'Enervintory', root_path, :class => "navbar-brand" %>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li>link</li>
          <li>link</li>
          <li>link</li>
          <% if user_signed_in? %>
            <li><%= link_to "Item Register", items_path %></li>
            <li>another signed in link</li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Analysis Tools <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Data Tools</li>
                <li><%= link_to "Export", export_items_path %></li>
                <li><%= link_to "Import", import_items_path %></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          <% end %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li><%= link_to current_user.email, edit_user_registration_path, class: "navbar-link" %></li>
            <li><%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "navbar-link" %></li>
          <% else %>
            <li><%= link_to "Register", new_user_registration_path, class: "navbar-link" %></li>
            <li><%= link_to "Log In", new_user_session_path, class: "navbar-link" %></li>
          <% end %>
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
  </div>
